// Herencia en CSS :OO

// También pueden recibir parámetros
@mixin button {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;

    // & Hereda del padre
    &:hover {
        background: red;
    }

    @media screen and (min-width: 640px) {
        background: green;
    }
}

@mixin button2($breakpoint) {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;

    // & Hereda del padre
    &:hover {
        background: red;
    }

    @media screen and (min-width: 640px) {
        background: green;
    }
}

.button{
    @include button;
}


@mixin btn-lindo {
    display: inline-block;
    text-decoration: none;
    // & Hereda del padre
    &:hover {
        background: red;
    }
}