// SASS es un preprocesador de CSS 100% compatible
//1. styles.css -> styles.scss
//2. Modulariza -> Divide tu Hoja de estilos en varios archivos
//3. importa desde in archivo principal
//4. Compila

@import "../../components/mixins";
@import "../../../theme/style.css";

  .background-transparencia{
    @include black-block;
  }

  .img-background{
    @include background-app;
  }

 .contenedor{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .titulo{
    background-color: var(--ion-color-primario);
    color: var(--ion-color-negro);
    padding: 25px;
  }

  .formulario-login__item{
    @include input-primario;
    margin-top: 30px;
  }

/*
  .formulario-login__input{
    @include input-primario;
  }

  */
  /*
  .formulario-login__icon{
    text-align: start
  }

  */
  .boton-primario{
    @include btn-primario;
    margin-top: 45px;
  }

  .boton-terciario{
    @include btn-terciario;
  }

  .alerta-error{
    color: var(--ion-color-blanco);
    font-size: 10px;
    width: 100%;
    position: absolute;
  }

  .mensaje-error{
    margin: auto;
  }