  .contenedor{
    background: #fff;
  }

  .titulo{
    background-color: var(--ion-color-primario);
    color: var(--ion-color-negro);
    padding: 25px;
  }

  .formulario-login__item{
    border-radius: 20px;
    margin-top: 20px;
  }

  .boton-primario{
    color: var(--ion-color-blanco);
  }

  .alerta-error{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }

  .mensaje-error{
    padding: 3px;
  }