  .contenedor{
    background: #fff;
  }

  .titulo{
    background-color: var(--ion-color-primario);
    color: var(--ion-color-negro);
    padding: 25px;
  }

  .formulario-login__item{
    border-radius: 20px;
    margin-top: 20px;
  }

  .boton-primario{
    color: var(--ion-color-blanco);
  }