<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor">
    <div class="titulo">Formulario Ingreso de Datos</div>
    <!-- Se guarde al enviar mediante submit-->
    <form class="formulario-login" action="#" method="POST" [formGroup]="usuario" (ngSubmit)="iniciarSesion()">
      <!-- Etiqueta Flotante -->
      <!-- inputs de formulario -->
      <ion-item class="formulario-login__item">
        <ion-label class="formulario-login__label" position="floating">Nombre Usuario</ion-label>
        <ion-input class="formulario-login__input" placeholder="Ingrese su Nombre de Usuario" formControlName="formControlUser">
          <ion-icon name="person-sharp"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="formulario-login__item">
        <ion-label class="formulario-login__label" position="floating">Contraseña</ion-label>
        <ion-input class="formulario-login__input" type="password" placeholder="Ingrese su Contraseña" formControlName="formControlPass" >
          <ion-icon name="lock-closed-sharp"></ion-icon>
        </ion-input>
      </ion-item>
      <!-- Botones de formulario -->
      <ion-button class="boton-primario" icon-left type="submit" >
        <ion-icon name="bed-outline"></ion-icon>
        Iniciar Sesión 
    </ion-button>
    </form>
  </div>

  <ion-footer>

  </ion-footer>
</ion-content>
